 <!-- <h1>{{title}}</h1> 
 <p>{{holamundo}} <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nulla in, eligendi quidem voluptates, odit accusantium alias numquam, eum ut architecto ab ea suscipit veniam minima illum pariatur esse quos. </p> 
  aprendimos como colocar {{title}} nombres raros . recuerden es un componente
-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<!-- <div class="container mt-4">
  <div class="row">
     <span>Hola Mi Nombre es {{nombre}}</span>
     <br>
     <input type="text" class="form-control" placeholder="{{ TextoPlaceholder}}"[disabled]="deshabilitado">
     <br>
     <br>
     <img [src]="ImgSrc" alt="img" > -->
     <!-- <h1 contenteditable="true"></h1> -->
  <!-- </div>
</div> -->
<!-- <div class="containermt mt-4">
  <h3>{{texto}}</h3>
  <br>
  <button class="btn btn-primary" (click)="cambiarTexto()">Click Me</button>
</div> -->

<!-- <div class="containermt mt-4">
 <input type="text" class="form-control" placeholder="hola mundo" [(ngModel)]="texto1">
 <br>
{{texto1}}
</div> -->

<!-- el comando como crear componente rapido y facil 
escribimos:ng generate
o solo escribimo g nomas
c components/cualquien vaina tontera tonteria ejemplo chata 
ejemplo holaguapos aver si es un exito ? si es 

felicidades

components: simple es obligatorio 
-->

<!-- <app-inicio></app-inicio> -->
<router-outlet></router-outlet>
